body{
    margin: 0;
    padding: 0;
    background-color: #63A4FF;
    box-sizing: border-box;
    padding: 90px 30px;
}
.loginbox{
      padding-left: 2%;
       width: 420px;
       height: 420px;
       background: #ffffff;
       position: absolute;
       transform: translate(-50%,-50%);
       color: #000;
       top: 50%;
       left: 50%;
}
h1{
    margin-top: 2%;
    padding-top: 30px;
    text-align: center;
    font-size: 35px;

}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 90%;
    margin-bottom: 20px;
    overflow: hidden;
}
.loginbox input[type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: rgb(56, 54, 54);
    color: white;
}
.loginbox a{
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: gray;
    
    padding-left:25%;
    /* align-items: center; */
   
}
.loginbox a:hover{
    color: #ffc107;
    align-items: center;
  
}